/* Main page decoration */

.main-page {
    background-color: #111827;
    color: white;
}

.round-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.round-number {
    font-size: 32px;
    font-weight: bold;
}

.round-number {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Score containers */

.score-container {
    display: flex;
    height: 500px;
}

.score-container-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.user-choice, .computer-choice {
    height: 250px;
    width: 250px;
    background-color: grey;
    border-radius: 5px;
}

.user-score-container {
    justify-content: flex-end;
    margin-right: 10px;
}

.computer-score-container {
    justify-content: flex-start;
    margin-left: 10px;
}