/* Main page decoration */

.main-page {
    background-color: #111827;
    color: white;
}

.round-number-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}

.round-number {
    font-size: 32px;
    font-weight: bold;
}

.round-number {
  font-family: "Teko", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Score containers */

.score-container {
    font-family: "Edu AU VIC WA NT Hand", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: flex;
    height: 500px;
}

.score-container-item {
    display: flex;
    align-items: center;
    flex: 1;
}

.user-score-container {
    justify-content: flex-end;
    margin-right: 10px;
}

.computer-score-container {
    justify-content: flex-start;
    margin-left: 10px;
}

.user-choice,.computer-choice {
    margin: 10px 0;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    background-color: grey;
    border: 5px solid grey;
    box-sizing: border-box;
}

.user-score,.computer-score {
    display: flex;
    flex-direction: column;
    align-items: center;
}